[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"  # crispy-forms ver.2 での仕様変更のため
pillow = "*"
django-imagekit = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.9"
